.gallery {
  margin-left: 100px;
  width: 500px;
  height: 400px;
  background-color: black;
  padding: 5px;
}

.top_wrapper,
.bot_wrapper {
  width: 500px;
  height: 200px;
  display: flex;
  position: relative;
}

.box:not(.hidden) {
  width: 250px;
  height: 200px;
  background-size: cover;
  background-color: blue;
  position: relative;
}

.hidden {
  width: 600px;
  height: 450px;
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: rebeccapurple;
  display: none;
}

.box:hover .hidden {
  background-color: royalblue;
  display: block;
  background-size: cover;
  z-index: 100;
}

.d1,
.img1 {
  background-image: url("../css/imgs/sample3-1.gif");
}

.d2,
.img2 {
  background-image: url("../css/imgs/sample3-2.gif");
}

.d3,
.img3 {
  background-image: url("../css/imgs/sample3-3.jpg");
}
.d4,
.img4 {
  background-image: url("../css/imgs/sample3-4.PNG");
}
