<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/search3" method="get">
        <input type="checkbox" name="memberId" id="" value="user05">user05
        <input type="checkbox" name="memberId" id="" value="user06">user06
        <input type="checkbox" name="memberId" id="" value="user07">user07
        <input type="checkbox" name="memberId" id="" value="user08">user08
        <input type="checkbox" name="memberId" id="" value="user09">user09
        <br>
        <input type="submit" value="조회">
    </form>
</body>
</html>