<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/memberInfo" method="post">
        <input type="checkbox" name="ckNo">No
        <input type="checkbox" name="ckId" id="">ID
        <input type="checkbox" name="ckName" id="">NAME
        <input type="checkbox" name="ckAge" id="">AGE <br>
        <input type="submit" value="회원정보 요청">
    </form>
</body>
</html>