.navi {
  width: 800px;
  height: 60px;
  border-radius: 15px 15px 0 0;
  background-color: #ffe761;
  box-shadow: 2px 2px 5px rgb(145, 138, 46);
}

ul {
  margin: 0 auto;
  padding-left: 0;
  list-style: none;
  height: 100%;
  background-color: inherit;
  display: flex;
  align-items: center;
  border-radius: 15px 15px 15px 15px;
}

li {
  padding: 0 15px 0 15px;
  width: 130px;
  height: 100%;
  border-radius: 15px 15px 0 0;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-shadow: 1px 1px 3px rgb(167, 167, 167);
}

li ul {
  position: absolute;
  top: 60px;
  left: 0;
}

.sub {
  width: 160px;
  background-color: #234f32;
  height: 0;
  color: #f1e759;
  border-radius: 0 0 15px 15px;
  display: flex;
  flex-direction: column;
  transition: height 0.3s;
  overflow: hidden;
}

.sub li {
  border-radius: 0 0 15px 15px;
}

li:hover {
  background-color: #326342;
  color: #ffe761;
}

li:hover .sub {
  height: 240px;
}
